{% extends "layout-2.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="dashboard">
    <div class="header">
      <h2>Dashboard</h2>
    </div>
    <fieldset class="form-group">
      <form action="" method="POST">
      {{ form.hidden_tag() }}
        <div class="field">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" value="{{ current_user.first_name}}" readonly>
        </div>
      
        <div class="field">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" value="{{ current_user.last_name}}" readonly>
        </div>
      
        <div class="form-group field">
          {{ form.username.label(class="form-control-label label")}}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-sm is-invalid")}}
            <div class="invalid-feedback">
              {%for error in form.username.errors %}
                <span>{{error}}</span>
              {%endfor%}
            </div>
          {%else%}
            {{ form.username(class="form-control form-control-sm")}}
          {%endif%}
        </div>
      
        <div class="form-group field">
          {{ form.email.label(class="form-control-label label")}}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-sm is-invalid")}}
            <div class="invalid-feedback">
              {%for error in form.email.errors %}
                <span>{{error}}</span>
              {%endfor%}
            </div>
          {%else%}
            {{ form.email(class="form-control form-control-sm")}}
          {%endif%}
        </div>
      
        <div class="form-group dele label2">
          {{ form.submit(class="btn update mx-auto") }}
        </div>

      </form>
      <button data-bs-toggle="modal" data-bs-target="#deletemodal" class="btn delete-btn">Delete Account?</button>
    </fieldset>
    
      
    

    <div class="modal" id="deletemodal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete your account? this action can't be undone!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{url_for('delete_account')}}" method="POST">
              <input type="submit" class="btn btn-danger" value="Confirm">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
