{%extends "layout-2.html"%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<div class="container">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.email.label(class="form-control-label label")}}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-sm is-invalid")}}
        <div class="invalid-feedback">
          {%for error in form.email.errors %}
          <span>{{error}}</span>
          {%endfor%}
        </div>
        {%else%}
        {{ form.email(class="form-control form-control-sm")}}
        {%endif%}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label label")}}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-sm is-invalid")}}
        <div class="invalid-feedback">
          {%for error in form.password.errors %}
          <span>{{error}}</span>
          {%endfor%}
        </div>
        {%else%}
        {{ form.password(class="form-control form-control-sm")}}
        {%endif%}
        <div class="add-margin">
        <div class="form-check">
        {{form.remember(class="form-check-input")}}
        {{form.remember.label(class="form-check-label")}}
        <a href="{{url_for('request_reset')}}" class="forgot"> forgot password?</a>
      </div></div>
      <center><div class="form-group">
        {{ form.submit(class="btn register")}}
      </div> 
      
      </center>
      
    </fieldset>
  </form>
  <h6 class="text-center label">Dont have an account? <a href="{{url_for('register')}}" class="sign-in">creat one</a> </h4>
</div>
{% endblock %}